<div class="row-fluid">
<div class="span12 game-container">

	<div class="row-fluid">
	<div class="span2">
      <table class="table-bordered table question-table">
      <thead>
        <tr>
          <th><img src=<%= current_user.image %> alt="profile photo">
          	<div><%= current_user.name %></div></th>
        </tr>
      </thead>
      <tbody>
        <tr>
        	<td>
        		<div class="question-mark-box">?</div>
        		<span class="inner-text"> 1 </span>
        		<div class="marking-box">?</div>
        	</td>
        </tr>
        <tr><td>Question 2</td></tr>
        <tr><td>Question 3</td></tr>
        <tr><td>Question 4</td></tr>
        <tr><td>Question 5</td></tr>
      </tbody>
    </table>

    <div class="player-a points-counter"><div class="number-points">0</div>Points</div>
    <button type="button" class="btn btn-large btn-success disable">Complete</button>

  </div> <!-- end span 2 -->

	  <div class="span8 game-inner-container">

	  	<!-- timer -->
	  	<div id="countdown">

		</div>


	  	<!-- end timer -->

	  	<div class="question-text">
	  		<% question = get_question() %>
	  		<%= question["part1"] %>
	  		<span id="answer" class="hidden-answer"> BLANK </span>
	  		<%= question["part2"] %>
	  	</div>

	  	<div class="answer-buttons">
		  <% get_all_words().each do |word| %>
		  	<% if word["word"] == question["word"] %>
			<button type="button" class="btn btn-large btn-warning correct"><%= word["word"] %></button>
			<% else %>
			<button type="button" class="btn btn-large btn-primary"><%= word["word"] %></button>
			<% end %>
		  <% end %>
		</div>

	  </div>

	<div class="span2">
      <table class="table-bordered table question-table inactive">
      <thead>
        <tr>
          <th>Player 2</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        	<td>
        		<div class="question-mark-box">?</div>
        		<span class="inner-text"> 1 </span>
        		<div class="marking-box">?</div>
        	</td>
        </tr>
        <tr><td>Question 2</td></tr>
        <tr><td>Question 3</td></tr>
        <tr><td>Question 4</td></tr>
        <tr><td>Question 5</td></tr>
      </tbody>
    </table>
  </div> <!-- end span 2 -->

  </div>

</div>
</div>