<script>
$(function() {
  var loc = window.location.href; // returns the full URL
  if(/play/.test(loc)) {
    $('#header-play-link').addClass('active-header-link');
  }
  if(/users/.test(loc)) {
    $('#header-users-link').addClass('active-header-link');
  }
});

</script>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to image_tag("ww_logo.png", alt: "word war logo"), root_path, id: "logo" %>
      <ul class="nav pull-right">
            <li><%= link_to "Play", play_path, id: "header-play-link" %></li>
      </ul>
          <a class="btn btn-navbar pull-right" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse collapse pull-right">
          <ul class="nav pull-right">
            <li><%= link_to "Leaderboard", users_path, id: "header-users-link" %></li>
              <% if current_user %>
                <!-- <li><%= link_to current_user.name, current_user %></li> -->
                <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
              <% else %>
                <li><%= link_to "Sign In", "/auth/facebook", id: "sign_in" %></li>
              <% end %>
          </ul>
          </div><!--/.nav-collapse -->
      
    </div>
  </div>
</div>
</header>




